<a href="https://colab.research.google.com/github/Hyeondo-Oh/AI01/blob/master/AI00_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI00_lab

#### 문제 1.

n = 5 일 때,
n + nn + nnn 의 값을 구하는 코드를 작성하세요.

#### 문제 2.
1에서 10까지 출력하고자 한다.
무한루프에 빠지지 않도록 다음 코드를 수정하세요.

In [ ]:
a = 1

while(a > 0):
    a = a + 1
    print('a =', a)

#### 문제 3. 
시간당 페이가 7530원일 때, 20시간을 일한 결과를 구하고자 한다.
다음 코드를 완성하세요.

In [ ]:



pay = hours * rate
print( pay )

#### 문제 4.
다음 점수 기준에 따라 Grade가 정해지는 코드를 완성하세요.

90점 이상: A
80점 이상: B
70점 이상: C
나머지: F

In [ ]:
score = 60

if score == 100:
    print('A')
else:
    print('F')

F